@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Tektur', sans-serif;
}

main {
    width: 100%;
}

header {
    width: 100%;
    background: #fbf82d;
    background: linear-gradient(120deg, #fbf82d 0%, #cd520a 100%);
    position: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 10px solid #ab9420;
    border-bottom: 10px solid #ab9420;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

nav li {
    background-color: #ab9420;
    padding: 0.5em;
    border-radius: 20px;
    box-shadow: 5px 5px;
    text-shadow: 2px 2px 4px #000000;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Tektur', sans-serif;
}

nav img {
    margin-right: 15px;
}

#home {
    background: url(resources/images/galery/iStock-1159238834-1628x1080.jpg) no-repeat center center;
    background-size: cover;
    color: #ffffff;
}

#about {
    background: url(resources/images/galery/lightspeed-7290642__340.jpg.optimal.jpg) no-repeat center center;
    background-size: cover;
    color: #ffffff;
}

#goals {
    background: url(resources/images/galery/iStock-1159238834-1628x1080.jpg) no-repeat center center;
    background-size: cover;
    color: #ffffff;
}

#galery {
    background: url(resources/images/galery/NGC_4414_\NASA-med\.jpg) no-repeat center center;
    background-size: cover;
    color: #ffffff;
}

#resources {
    background: url(resources/images/galery/USA\ flag.png) no-repeat center center;
    background-size: cover;
    color: #39386e;
}

#partners {
    background: url(resources/images/galery/artemisi111122.jpg) no-repeat center center;
    background-size: cover;
    color: #ffffff;
}

#acnowlegment {
    background: url(resources/images/galery/ultra-detailed-nebula-abstract-wallpaper-4.jpg) no-repeat center center;
    background-size: cover;
    color: #000000;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

section img {
    width: 500px;

}

.text {
    width: 200px;
}